{% extends 'bluepage/First.html' %}
{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% block main %}
 <div class="w-reasd ml-12">
 <img src="{{items.image.url}}" class="w-full" alt="">
        <h1 class="text-3xl">{{ items.name }}</h1>
        <p class="text-lg">{{ items.about }}</p>
    <p>{{100000000 | intcomma}}$</p>
     <div class="mt-2">
     <a class="bg-green-500 text-black p-2" href="{% url 'myapp:updateitem' items.id %}">update</a>
     <a class="bg-red-500 text-black p-2" href="{% url 'myapp:deleteitem' items.id %}">delete</a>
         </div>
{% endblock main %}
     </div>
</body>
</html>