{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'bluepage/css/css.css' %}">
    <meta charset="UTF-8">
    <title>12121</title>
</head>
<body>
     <header class="w-full">
        <div class="nav w-full flex text-white justify-between p-6 bg-[#272727] h-heidf">
<div class="text-xl font-medium"><a class="text-[#ECECEC]">neiro<span class="text-green-500 ">SET</span></a></div>

<div class="flex">
    <a class="text-[#ECECEC] px-6 p-2 rounded-full duration-200 hover:text-black hover:bg-green-500 mr-6" href="#">All Free ai</a>
    <a class="text-[#ECECEC] px-6 p-2 rounded-full duration-200 hover:text-black hover:bg-green-500 mr-6" href="#">Text ai</a>
    <a class="text-[#ECECEC] px-6 p-2 rounded-full duration-200 hover:text-black hover:bg-green-500 mr-6" href="#">Img generator ai</a>
    <a class="text-[#ECECEC] px-6 p-2 rounded-full duration-200 hover:text-black hover:bg-green-500 mr-12" href="#">SEO ai</a>
    <a class="text-[#ECECEC] px-6 p-2 rounded-full duration-200 hover:text-black hover:bg-green-500 mr-12" href="#">About</a>
    <div class="px-6 p-2">
    <a class="open_set text-[#ECECEC] px-6 p-2 rounded-full duration-200 hover:text-black hover:bg-green-500 mr-12" href="#">Setting</a>
    <div class="set_menu absolute w-32 bg-green-500 text-black mt-8 ">
        <a class="duration-200 block hover:bg-[#272727] p-2 hover:text-white" href="#">Dark mode</a>
        <a class= "block mt-2 duration-200 hover:bg-[#272727] hover:text-white p-2" href="#">Language</a>
        <a class="block mt-2 duration-200 hover:bg-[#272727] hover:text-white p-2" href="#">Setting</a>
    </div>
</div>
    <div>
        <button class=" border-2 border-green-500 bg-green-500 px-6 p-2 text-[#272727] duration-200 relative rounded-full font-semibold hover:bg-[#272727] hover:text-green-500 hover:border-2 hover:border-green-500">Подробнее</button>
        </div>
    </div>
        </div>
        <div class="info_start bg-footer-texture w-full h-back p-6 pt-12 text-white text-center">
            <div class="for_type mx-auto">
           <h1 class="typing-demo text-3xl font-semibold">Use AI tools for <span class="text-green-500">FREE</span></h1>
        </div>
           <h2 class="text-xl mt-2 text-green-500">Absolute free!</h2>
           <p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eius dolor modi ipsam velit voluptatem deleniti rerum voluptas necessitatibus saepe perspiciatis nesciunt amet aspernatur numquam nulla odio et, possimus obcaecati?</p>
        </div>
    </header>
    <main class="p-8 place-content-center">
    <div class="text-center text-3xl">
        <h1>ALL free ai tools</h1>
    </div>
        <div class="filtration flex mt-8 place-content-center">
<div class="flex">
<input class="border-black border-2" type="search" name="" id=""><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
      </svg>

</div>
<div class="flex ml-8">
    <select class="ml-4" name="times" id="pet-select">
        <option value="New">New</option>
        <option value="Popular">Popular</option>
        <option value="Recomended">Recomended</option>
      </select>
      <select class="ml-4" name="price" id="pet-select">
        <option value="Free">Free</option>
        <option value="Subscribe">Subscribe</option>
        <option value="Trail">Trail</option>
        <option value="Only buy">Only buy</option>
      </select>
      <select class="ml-4" name="types" id="pet-select">
        <option value="dog">Text</option>
        <option value="cat">Image</option>
        <option value="hamster">SEO</option>
        <option value="parrot">Questions/answer</option>
        <option value="spider">Other</option>
      </select>
      <input class="ml-4" type="checkbox" value="With api" name="" id="">Open api
</div>
        </div>
<div class="ais mt-8 flex flex-wrap w-maxais mx-auto p-4">
    {% for i in items %}
    <div class="w-reasd ml-12">
        <h1 class="text-xl">{{ i.name }}</h1>
        <p>{{ i.about }}</p>
        <div class="cat_for_ais mt-2">
            <a class="rounded-full text-sm border-2 duration-200 border-green-500 p-1 hover:bg-green-500" href="#">Other</a>
            <a class="rounded-full text-sm border-2 duration-200 border-green-500 p-1 hover:bg-green-500" href="#">Other</a>
            <a class="rounded-full text-sm border-2 duration-200 border-green-500 p-1 hover:bg-green-500" href="#">Other</a>
        </div>
        <a class="bg-green-500 text-center block mt-2 p-2 w-32 rounded-full" href="{% url 'myapp:detail' i.id %}">Перейти</a>
    </div>
    {% endfor %}
</div>
    </main>
</body>
</html>